@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap');

body {
  background: rgb(134, 191, 219);
  font-family: 'Ubuntu', sans-serif;
  color: rgb(0, 0, 83);
}

.page {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  background: rgb(211, 234, 247);
  box-shadow: 2px 1px 8px 1px rgb(122, 177, 204);
}

h2 {
  color: rgb(28, 28, 173);
  margin-top: 0;
  font-size: 1.5vh;
}

.carrier {
  background: rgb(196, 217, 230);
  padding: 12px;
  margin-bottom: 24px;
  box-shadow: 2px 1px 8px 1px rgb(190, 212, 226);
}

h3 {
  color: rgb(36, 36, 179);
  margin-top: 0;
  margin-bottom: 12px;
}

ul {
  list-style-type: none;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

li {
  margin-bottom: 12px;
  background: rgb(222, 235, 243);
  padding: 5px;
  box-shadow: 2px 1px 8px 1px rgb(180, 199, 211);
}

p {
  margin: 12px;
  font-weight: 500;
}

.button-wrapper {
  margin-bottom: 12px;
}

button {
  border: none;
  background: green;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-size: 14;
  padding: 10px;
  margin-left: 12px;
  width: 60px;
  border-radius: 24px;
  box-shadow: 2px 1px 8px 1px rgb(180, 199, 211);
}