body {
    margin-top: 2rem;
    background-image: url('./assets/bg.webp');
    font: 100% "Open sans", "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
}

h2,
p {
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 75rem;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.nav a,
.nav label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.85rem;
    color: #fff;
    background-color: #151515;
    box-shadow: inset 0 -1px #1d1d1d;
    transition: all 0.25s ease-in;
}

.nav a:focus,
.nav a:hover,
.nav label:focus,
.nav label:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #030303;
}

.nav a:focus,
.nav a:hover>span:nth-child(2) {
    color: rgba(255, 255, 255, 1);
}

.nav label {
    cursor: pointer;
}

ul {
    padding: 0;
}

ul,
li {
    margin: 0;
}

li {
    list-style-type: none;
}

/**
   * Styling first level lists items
   */
.group-list a,
.group-list label {
    padding-left: 2rem;
    background: #252525;
    box-shadow: inset 0 -1px #373737;
}

.group-list a:focus,
.group-list a:hover,
.group-list label:focus,
.group-list label:hover {
    background: #131313;
}

/**
    * Styling second level list items
    */
.sub-group-list a,
.sub-group-list label {
    padding-left: 4rem;
    background: #353535;
    box-shadow: inset 0 -1px #474747;
}

.sub-group-list a:focus,
.sub-group-list a:hover,
.sub-group-list label:focus,
.sub-group-list label:hover {
    background: #232323;
}

/**
    * Styling third level list items
    */
.sub-sub-group-list a,
.sub-sub-group-list label {
    padding-left: 6rem;
    background: #454545;
    box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus,
.sub-sub-group-list a:hover,
.sub-sub-group-list label:focus,
.sub-sub-group-list label:hover {
    background: #333333;
}

/**
    * Hide nested lists
    */
.group-list,
.sub-group-list,
.sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.nav__list input[type=checkbox]:checked+label+ul {
    /* reset the height when checkbox is checked */
    max-height: 1000px;
}

.listItem>a {
    display: flex;
    justify-content: space-between;
}

.listItem>a>span:nth-child(1) {
    flex: 1
}

.listItem>a>span:nth-child(2) {
    padding: 0 5px 5px 5px;
}

/**
    * Rotating chevron icon
    */
label>span>img {
    width: 10px;
}

label>span {
    float: right;
    transition: transform 0.65s ease;
}

.nav__list input[type=checkbox]:checked+label>span {
    transform: rotate(90deg);
}

.header {
    background-color: #f7f7f7;
    color: #151515;
    padding: 3px 15px;
}

.soc-media {
    display: flex;
    justify-content: center;
}